.btn-primary {
  background-color: #FDE635;
  border: 1px #FDE635 solid;
  color: black;
}

.btn-secondary {
  background-color: #7E57C2;
  border: 1px #7E57C2 solid;
  color: black;
}

.btn-primary:hover {
  background-color: #7E57C2;
}

.subtitle {
  font-size: 2em;
  font-weight: bold;
  margin: auto;
  text-align: center;
}

html, body {
  font-family: montserrat, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.1em;
}

.content {
  display: block;
  position: relative;
}
.content .header .logo {
  width: 150px;
  height: auto;
}
.content .app .hero {
  height: 80vh;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(209, 211, 96, 0.52), rgba(7, 75, 1, 0.73)), url("/images/hero.jpg");
  position: relative;
}
.content .app .hero__text {
  position: absolute;
  margin: 80px auto auto 50%;
  color: white;
  display: block;
}
.content .app .hero__text p {
  font-size: 1.5em;
}
.content .app .hero__text h1 {
  color: #FDE635;
  font-size: 3em;
  font-weight: bold;
  margin: 50px auto;
}
.content .app .hero__text span {
  font-size: 1.2em;
  margin: 40px auto;
}
.content .app .hero__text .btn {
  margin: 30px auto;
}
.content .app .clubs {
  text-align: center;
  margin: 15px auto;
  display: block;
}
.content .app .clubs__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: 15px auto;
}
.content .app .clubs__content .club img {
  width: 120px;
  height: auto;
  margin: 10px;
}
.content .app .contact {
  width: 90%;
  margin: auto auto 30px auto;
  text-align: center;
}
.content .app .contact__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content .app .contact__items__item {
  width: 340px;
  height: 150px;
  background-color: #201919;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  padding-top: 30px;
}
.content .app .contact__items__item .icone {
  color: #FDE635;
}
.content .app .contact__items__item .infos {
  color: white;
}
.content .app .contact__items__item .infos span {
  color: #FDE635;
  font-size: 1.5em;
}
.content .app .dashboard {
  display: block;
}
.content .app .dashboard__top {
  text-align: center;
}
.content .app .dashboard__top ul {
  width: 50%;
  margin: 15px auto;
}
.content .app .dashboard__top ul li {
  margin: 15px;
  display: inline;
}
.content .app .dashboard__content {
  min-height: 80vh;
  height: auto;
  display: block;
}
.content .app .dashboard__content .games {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px auto;
}
.content .app .dashboard__content .games .game {
  width: 360px;
  height: 220px;
  border: 10px;
  background-color: #22242b;
  display: block;
  padding-top: 20px;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  margin: 10px;
}
.content .app .dashboard__content .games .game__date {
  text-align: center;
  margin: 10px auto;
}
.content .app .dashboard__content .games .game__teams {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}
.content .app .dashboard__content .games .game__teams .team {
  font-weight: bold;
}
.content .app .dashboard__content .games .game__teams .team img {
  width: 60px;
  margin: auto;
}
.content .app .dashboard__content .games .game__stadium {
  text-align: center;
  margin: 5px auto 5px auto;
}
.content .app .news {
  display: block;
}
.content .app .news__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}
.content .app .news__content .new {
  border-radius: 15px;
  background-color: #201919;
  display: block;
  flex: 1;
  margin: 10px;
  color: white;
  padding: 30px;
}
.content .app .news__content .new h4 {
  color: #FDE635;
  font-weight: bold;
}
.content .app .news__content .new__image img {
  border-radius: 10px;
}
.content .app .news__content .new__date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content .app .news__content .new__date .date i {
  color: white;
}
.content .app .news__content .new__date .likes .like {
  color: #FDE635;
  margin: 10px;
}
.content .app .news__content .new__date .likes .dislike {
  color: #7E57C2;
}
.content .app .news__content .new__link {
  color: #FDE635;
  cursor: pointer;
}
.content .app .platform {
  display: block;
  width: 90%;
  height: auto;
  border: 1px #201919 solid;
  border-radius: 15px;
  padding: 10px;
  background-color: #201919;
  margin: 30px auto;
}
.content .app .platform .subtitle {
  color: white;
  margin: 15px auto;
}
.content .app .platform__content {
  display: block;
  margin: 15px auto;
}
.content .app .platform__content__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px auto;
}
.content .app .platform__content__top .title {
  color: white;
  flex: 1;
  background-color: #22242b;
  cursor: pointer;
  text-align: center;
  height: 60px;
  border-radius: 10px;
  display: table;
}
.content .app .platform__content__top .title p {
  vertical-align: middle;
  margin: 20px auto;
}
.content .app .platform__content__top .title:hover {
  background-color: #FDE635;
  color: #201919;
  transition: 500ms ease-in-out;
  font-weight: bold;
}
.content .app .platform__content__main .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content .app .platform__content__main .box__text {
  display: block;
  color: white;
  flex: 1;
  text-align: left;
  padding-right: 15px;
}
.content .app .platform__content__main .box__text h4 {
  font-size: 1.5em;
}
.content .app .platform__content__main .box__text p {
  margin: 15px auto;
}
.content .app .platform__content__main .box__image {
  flex: 1;
}
.content .app .platform__content__main .box__image img {
  width: 95%;
  height: auto;
  border-radius: 15px;
  margin: auto;
}
.content .app .partnership {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 30px;
  background-color: #201919;
  margin: 40px auto;
  padding-top: 30px;
  padding-bottom: 20px;
}
.content .app .partnership__image {
  width: 170px;
  height: 170px;
  border-radius: 60px;
  margin: 90px 30px auto 40px;
}
.content .app .partnership__text {
  flex: 1;
  display: block;
  color: white;
  margin: 20px auto;
  padding-left: 30px;
}
.content .app .partnership__text h4 {
  color: #FDE635;
  font-size: 2em;
}
.content .app .partnership .btn {
  border-radius: 10px;
  margin: 20px auto;
}
.content .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #201919;
  padding: 5px;
  padding-top: 10px;
  bottom: 0;
}
.content .footer__infos {
  flex: 1;
}
.content .footer__infos span {
  color: white;
  width: 70%;
  text-align: left;
  margin: auto 0;
}
.content .footer__menu {
  flex: 1;
}
.content .footer__menu h4 {
  color: #FDE635;
  font-size: 1.6em;
}
.content .footer__menu ul li {
  display: block;
}
.content .footer__menu ul li a {
  color: white;
  cursor: pointer;
}
.content .footer__menu ul li a:hover {
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */