.btn-primary {
  background-color: #FDE635;
  border: 1px #FDE635 solid;
  color: black;
}

.btn-secondary {
  background-color: #7E57C2;
  border: 1px #7E57C2 solid;
  color: black;
}

.btn-primary:hover {
  background-color: #7E57C2;
}

.subtitle {
  font-size: 2em;
  font-weight: bold;
  margin: auto;
  text-align: center;
}

html, body {
  font-family: montserrat, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.1em;
}

.header .logo {
  width: 150px;
  height: auto;
}

.app .hero {
  height: 80vh;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(209, 211, 96, 0.52), rgba(7, 75, 1, 0.73)), url("/images/hero.jpg");
  position: relative;
}
.app .hero__text {
  position: absolute;
  margin: 80px auto auto 50%;
  color: white;
  display: block;
}
.app .hero__text p {
  font-size: 1.5em;
}
.app .hero__text h1 {
  color: #FDE635;
  font-size: 3em;
  font-weight: bold;
  margin: 50px auto;
}
.app .hero__text span {
  font-size: 1.2em;
  margin: 40px auto;
}
.app .hero__text .btn {
  margin: 30px auto;
}
.app .clubs {
  text-align: center;
  margin: 15px auto;
}
.app .clubs ul {
  width: 100%;
}
.app .clubs ul li {
  display: inline;
}
.app .clubs ul li img {
  width: 150px;
  height: auto;
  margin: auto;
}
.app .contact {
  width: 90%;
  margin: auto auto 30px auto;
  text-align: center;
}
.app .contact__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.app .contact__items__item {
  width: 340px;
  height: 150px;
  background-color: #0D0D0D;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  padding-top: 30px;
}
.app .contact__items__item .icone {
  color: #FDE635;
}
.app .contact__items__item .infos {
  color: white;
}
.app .contact__items__item .infos span {
  color: #FDE635;
  font-size: 1.5em;
}
.app .dashboard {
  display: block;
}
.app .dashboard__top {
  text-align: center;
  padding-top: 20px;
}
.app .dashboard__top ul {
  width: 50%;
  margin: auto;
}
.app .dashboard__top ul li {
  margin: 15px;
  display: inline;
}
.app .dashboard__content {
  min-height: 60vh;
  height: 60vh;
}
.app .news {
  display: block;
}
.app .news__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}
.app .news__content .new {
  border-radius: 15px;
  background-color: #0D0D0D;
  display: block;
  flex: 1;
  margin: 10px;
  color: white;
  padding: 30px;
}
.app .news__content .new h4 {
  color: #FDE635;
  font-weight: bold;
}
.app .news__content .new__image img {
  border-radius: 10px;
}
.app .news__content .new__date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.app .news__content .new__date .date i {
  color: white;
}
.app .news__content .new__date .likes .like {
  color: #FDE635;
  margin: 10px;
}
.app .news__content .new__date .likes .dislike {
  color: #7E57C2;
}
.app .news__content .new__link {
  color: #FDE635;
  cursor: pointer;
}
.app .partnership {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 30px;
  background-color: #0D0D0D;
  margin: 40px auto;
  padding-top: 30px;
  padding-bottom: 20px;
}
.app .partnership__image {
  width: 170px;
  height: 170px;
  border-radius: 60px;
  margin: 90px 30px auto 40px;
}
.app .partnership__text {
  flex: 1;
  display: block;
  color: white;
  margin: 20px auto;
  padding-left: 30px;
}
.app .partnership__text h4 {
  color: #FDE635;
  font-size: 2em;
}
.app .partnership .btn {
  border-radius: 10px;
  margin: 20px auto;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #0D0D0D;
  padding: 5px;
  padding-top: 10px;
}
.footer__infos {
  flex: 1;
}
.footer__infos span {
  color: white;
  width: 70%;
  text-align: left;
  margin: auto 0;
}
.footer__menu {
  flex: 1;
}
.footer__menu h4 {
  color: #FDE635;
  font-size: 1.6em;
}
.footer__menu ul li {
  display: block;
}
.footer__menu ul li a {
  color: white;
  cursor: pointer;
}
.footer__menu ul li a:hover {
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */