
$primary: #FDE635;
$secondary: #7E57C2;
$white: white;
$black: black;
$blue-dark: #201919;
$blue-light: #22242b;

@mixin flex($flex-direction: row){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn-primary{
    background-color: $primary;
    border: 1px $primary solid;
    color: $black;
}

.btn-secondary{
    background-color: $secondary;
    border: 1px $secondary solid;
    color: $black;
}

.btn-primary:hover{
    background-color: $secondary;
}

.subtitle{
    font-size: 2em;
    font-weight: bold;
    margin: auto;
    text-align: center;
}

html, body{
    font-family: montserrat, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.1em;
}

.content{
    display: block;
    position: relative;

    .header{
        .logo{
            width: 150px;
            height: auto;
        }
        }

    .app{
        .hero{
            height: 80vh;
            width: 100%;
            background-image: linear-gradient(to bottom, rgba(209, 211, 96, 0.52), rgba(7, 75, 1, 0.73)),
            url('/images/hero.jpg');
            position: relative;

            &__text{
                position: absolute;
                margin: 80px auto auto 50%;
                color: $white;
                display: block;

                p{
                 //   color: #817b28;
                    font-size: 1.5em;
                }

                h1{
                    color: $primary;
                    font-size: 3em;
                    font-weight: bold;
                    margin: 50px auto;
                }

                span{
                    font-size: 1.2em;
                    margin: 40px auto;
                }

                .btn{
                    margin: 30px auto;
                }




            }

        }

        .clubs{
            text-align: center;
            margin: 15px auto;
            display: block;

            &__content{
                @include flex();
                width: 90%;
                margin: 15px auto;
                .club{
                    img{
                        width: 120px;
                        border-radius: 50px;
                        height: auto;
                        margin: 10px;
                    }
                }
            }


        }

        .contact{
            width: 90%;
            margin: auto auto 30px auto;
            text-align: center;

            &__items{
                @include flex();
                &__item{
                    width: 340px;
                    height: 150px;
                    background-color: $blue-dark;
                    border-radius: 5px;
                    text-align: center;
                    margin: auto;
                    padding-top: 30px;

                    .icone{
                        color: $primary;
                    }

                    .infos{
                        color: $white;
                        span{
                            color: $primary;
                            font-size: 1.5em;
                        }
                    }
                }
            }
        }

        .dashboard{
            display:  block;


            &__top{
                text-align: center;
                ul{
                    width: 50%;
                    margin: 15px  auto;
                    li{
                        margin: 15px;
                        display: inline
                    }
                }
            }

            &__content{
                min-height: 80vh;
                height:auto;
                display: block;

                .games{
                    width: 90%;
                    @include flex();
                    margin: 30px auto;

                    .game{
                        width: 360px;
                        height: 220px;
                        border: 10px;
                        background-color: $blue-light;
                        display: block;
                        padding-top: 20px;
                        color: $white;
                        cursor: pointer;
                        border-radius: 15px;
                        margin: 10px;

                        &__date{
                            text-align: center;
                            margin: 10px auto;
                        }

                        &__teams{
                            @include flex();
                            width: 90%;
                            margin: auto;

                            .team{
                                font-weight: bold;

                                img{
                                    width: 60px;
                                    margin: auto;
                                }
                            }
                        }

                        &__stadium{
                            text-align: center;
                            margin: 5px auto 5px auto;
                        }
                    }
                }
            }
        }

        .news{
            display: block;

            &__content{
                @include flex();
                width: 90%;
                margin: auto;

                .new{
                    border-radius: 15px;
                    background-color: $blue-dark;
                    display: block;
                    flex: 1;
                    margin: 10px;
                    color: $white;
                    padding: 30px;

                    h4{
                        color: $primary;
                        font-weight: bold;
                    }

                    &__image{
                        img{
                            border-radius: 10px;
                        }
                    }

                    &__date{
                        @include flex();

                        .date{
                            i{
                                color: $white;
                            }
                        }

                       .likes{
                        .like{
                            color: $primary;
                            margin: 10px;
                        }

                        .dislike{
                            color: $secondary;
                        }
                       }
                    }

                    &__link{
                        color: $primary;
                        cursor: pointer;
                    }
                }
            }
        }

        .platform{
            display: block;
            width: 90%;
            height: auto;
            border: 1px $blue-dark solid;
            border-radius: 15px;
            padding: 10px;
            background-color: $blue-dark;
            margin: 30px auto;

            .subtitle{
                color: $white;
                margin: 15px auto;
            }

            &__content{
               display: block;
               margin: 15px auto;

                &__top{
                    @include flex();
                    margin: 10px auto;
                    .title{
                        color: $white;
                        flex: 1;
                        background-color: $blue-light;
                        cursor: pointer;
                        text-align: center;
                        height: 60px;
                        border-radius: 10px;
                        display: table;

                        p{
                            vertical-align: middle;
                            margin: 20px auto;
                        }

                    }

                    .title:hover{
                        background-color: $primary;
                        color: $blue-dark;
                        transition: 500ms ease-in-out;
                        font-weight: bold;
                    }
                }

                &__main{
                    .box{
                        @include flex();

                        &__text{
                            display: block;
                             color: $white;
                             flex: 1;
                             text-align: left;
                            padding-right: 15px;

                            h4{
                                font-size: 1.5em;
                            }

                            p{
                                margin: 15px auto;
                            }
                        }

                        &__image{
                            flex: 1;

                            img{
                                width: 95%;
                                height: auto;
                                border-radius: 15px;
                                margin: auto;
                            }
                        }
                    }
                }
            }

        }

        .partnership{
            width: 80%;
            @include flex();
            border-radius: 30px;
            background-color: $blue-dark;
            margin: 40px auto;
            padding-top: 30px;
            padding-bottom: 20px;

            &__image{
                width: 170px;
                height: 170px;
                border-radius: 60px;
                margin: 90px 30px auto 40px;
            }

            &__text{
                flex: 1;
                display: block;
                color: $white;
                margin: 20px auto;
                padding-left: 30px;

                h4{
                    color: $primary;
                    font-size: 2em;
                }

            }

            .btn{
                border-radius: 10px;
                margin: 20px auto
            }
        }
    }

    .footer{
        @include flex();
        background-color: $blue-dark;
        padding: 5px;
        padding-top: 10px;
        bottom: 0;

        &__infos{
            flex: 1;

            span{
                color: $white;
                width: 70%;
                text-align: left;
                margin: auto 0;
            }
        }

        &__menu{
            flex: 1;

            h4{
                color: $primary;
                font-size: 1.6em;
            }
            ul{
                li{
                    display: block;

                    a{
                        color:$white;
                        cursor: pointer;
                    }

                    a:hover{
                        font-weight: bold;
                    }
                }
            }
        }
    }
}